USE [DAQ-1445_Contiki_App_DESQL016_Divestment]
GO
/****** Object:  StoredProcedure [dbo].[Takeda_VENDORSCRIPT_MaintenanceCheck_MissingACL]    Script Date: 24 Jun 2024 11:12:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Takeda_VENDORSCRIPT_MaintenanceCheck_MissingACL]

as

DECLARE	@ObjectTypeID	BIGINT,
		@UserId			BIGINT,
		@GroupId		BIGINT

SELECT	@ObjectTypeID	= OBJECTTYPEID	
FROM	TOBJECTTYPE
WHERE	FIXED = N'CONTRACT'

SELECT	@UserId	= USERID
FROM	TUSER
WHERE	USERINITIAL = 'systemservice'
		AND MIK_VALID = 1

IF	@@ROWCOUNT != 1 GOTO	ERROR_NO_USER

SELECT	@UserId	AS [systemservice user id]

SELECT	@GroupId	= USERGROUPID
FROM	TUSERGROUP
WHERE	FIXED = N'SYSTEMINTERNAL'

IF	@@ROWCOUNT != 1 GOTO	ERROR_NO_GROUP

SELECT @GroupId as [SYSTEM group Id]

SELECT	C.CONTRACTID,
		C.CONTRACTNUMBER	as [NUMBER-BEFORE], 
		P.PRIVILEGEID		as [MISSING-PRIVILEGE]
INTO	#t
FROM	TCONTRACT C 
		CROSS JOIN TPRIVILEGE P
WHERE	P.PRIVILEGEID IN (1,2)
		AND NOT EXISTS (	SELECT 1 
							FROM	TACL 
							WHERE	TACL.OBJECTID IS NOT NULL 
									AND TACL.OBJECTTYPEID = @ObjectTypeID 
									AND TACL.OBJECTID = C.CONTRACTID 
									AND TACL.PRIVILEGEID = P.PRIVILEGEID 
									AND (TACL.GROUPID = @GroupId OR TACL.USERID = @UserId)
									)

SELECT  *
FROM	#t

BEGIN TRAN

INSERT INTO	TACL(
	OBJECTTYPEID,
	OBJECTID,
	GROUPID,
	USERID,
	PRIVILEGEID,
	INHERITFROMPARENTOBJECT,
	PARENTOBJECTTYPEID,
	PARENTOBJECTID,
	NONHERITABLE)
SELECT	@ObjectTypeID,
		#t.CONTRACTID,
		@GroupId,
		NULL,
		#t.[MISSING-PRIVILEGE],
		0,
		NULL,
		NULL,
		0
FROM	#t

IF	@@ERROR != 0	GOTO	ERROR_INSERT

--	FOR READ
IF	NOT EXISTS(	SELECT	1
				FROM	TDEFAULTPRIVILEGE
				WHERE	OBJECTTYPEID = @ObjectTypeID
						AND [ACTION] = N'ONCREATE'
						AND GROUPID = @GroupId 
						AND ACTIVEROLE = 0
						AND ACTIVEUSER = 0
						AND PRIVILEGEID = 1	--READ
						)	BEGIN

	INSERT INTO	TDEFAULTPRIVILEGE(
		OBJECTTYPEID,         
		[ACTION]    ,                                         
		GROUPID     ,         
		ACTIVEROLE ,
		ACTIVEUSER ,
		PRIVILEGEID ,         
		INHERITFROMPARENTOBJECT, 
		PARENTOBJECTTYPEID   ,
		NONHERITABLE )
	SELECT			
		@ObjectTypeID,
		N'ONCREATE'    ,                                         
		@GroupId ,         
		0 ,
		0,
		1,         -- READ
		NULL, 
		NULL,
		0

	IF	@@ERROR != 0	GOTO	ERROR_INSERT
END
--	FOR WRITE
IF	NOT EXISTS(	SELECT	1
				FROM	TDEFAULTPRIVILEGE
				WHERE	OBJECTTYPEID = @ObjectTypeID
						AND [ACTION] = N'ONCREATE'
						AND GROUPID = @GroupId 
						AND ACTIVEROLE = 0
						AND ACTIVEUSER = 0
						AND PRIVILEGEID = 2	-- WRITE
						)	BEGIN

	INSERT INTO	TDEFAULTPRIVILEGE(
		OBJECTTYPEID,         
		[ACTION]    ,                                         
		GROUPID     ,         
		ACTIVEROLE ,
		ACTIVEUSER ,
		PRIVILEGEID ,         
		INHERITFROMPARENTOBJECT, 
		PARENTOBJECTTYPEID   ,
		NONHERITABLE )
	SELECT			
		@ObjectTypeID,
		N'ONCREATE'    ,                                         
		@GroupId ,         
		0 ,
		0,
		2,         -- WRITE
		NULL, 
		NULL,
		0

	IF	@@ERROR != 0	GOTO	ERROR_INSERT
END

COMMIT

SELECT	C.CONTRACTID,
		C.CONTRACTNUMBER	as [NUMBER-AFTER], 
		P.PRIVILEGEID		as [MISSING-PRIVILEGE]
FROM	TCONTRACT C 
		CROSS JOIN TPRIVILEGE P
WHERE	P.PRIVILEGEID IN (1,2)
		AND NOT EXISTS (	SELECT 1 
							FROM	TACL 
							WHERE	TACL.OBJECTID IS NOT NULL 
									AND TACL.OBJECTTYPEID = @ObjectTypeID 
									AND TACL.OBJECTID = C.CONTRACTID 
									AND TACL.PRIVILEGEID = P.PRIVILEGEID 
									AND (TACL.GROUPID = @GroupId OR TACL.USERID = @UserId)
									)
									
GOTO	THE_END

ERROR_INSERT:
	PRINT( 'ROLLBACK !!!')
	ROLLBACK
	GOTO	THE_END

ERROR_NO_USER:
	RAISERROR('There is no user [systemservice]',10,0)

	GOTO	THE_FINAL_END
	
ERROR_NO_GROUP:
	RAISERROR('There is no group [SYSTEMINTERNAL]',10,0)

	GOTO	THE_FINAL_END
	
THE_END:
	DROP TABLE	#t

THE_FINAL_END:
GO
